@model ProductsRazor.Models.Item
@Html.HiddenFor(model => model.IdItem)
@Html.HiddenFor(model => model.CreateBy)
@Html.HiddenFor(model => model.CreateDate)
@Html.HiddenFor(model => model.UpdateDate)
@Html.HiddenFor(model => model.IsDeleted)

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    @* <span asp-validation-for="Name" class="text-danger"></span> *@
</div>

<div class="form-group">
    <label asp-for="Price"></label>
    <input asp-for="Price" class="form-control" />
    @* <span asp-validation-for="Price" class="text-danger"></span> *@
</div>

@*------ Serial ---------*@

@* serialNumber ไม่ได้อยู่ใน model item จึงต้องเรียก validation ที่มีตัวแปร serialNumber   *@
<div class="form-group">
    @Html.EditorFor(model => model.Serials)
    @Html.ValidationMessage("serialNumber", "", new
        { @class = "text-danger" })
</div>
<button type="submit" name="Addsn" value="true" class="btn btn-dark btn-sm" formnovalidate>+ Add </button>

<div class="form-group">
    <label asp-for="IdCategory">Category</label>
    <select asp-for="IdCategory" asp-items="ViewBag.Categories" class="form-control">
        <option value="">-- Select Category --</option>
    </select>
    @* <span asp-validation-for="IdCategory" class="text-danger"></span> *@
</div>